@media screen and (max-width:599px) {
	.foo {
		color:red;
	}
}

@media screen and (max-width:41px) {
	.bar {
		color:green;
	}
}

@media screen and (max-width:127px) {
	.baz {
		color:blue;
	}
}

@media screen and (max-height:599px) {
	.foo {
		color:red;
	}
}

@media screen and (max-height:41px) {
	.bar {
		color:green;
	}
}

@media screen and (max-height:127px) {
	.baz {
		color:blue;
	}
}

@media screen and (max-width:37.49em) {
	.foo {
		color:red;
	}
}

@media screen and (max-width:2.615em) {
	.bar {
		color:green;
	}
}

@media screen and (max-width:7.99em) {
	.baz {
		color:blue;
	}
}

@media screen and (max-height:37.49em) {
	.foo {
		color:red;
	}
}

@media screen and (max-height:2.615em) {
	.bar {
		color:green;
	}
}

@media screen and (max-height:7.99em) {
	.baz {
		color:blue;
	}
}

@media screen and (max-width:100vh) {
	.foo {
		color:red;
	}
}

@media screen and (max-height:100%) {
	.baz {
		color:blue;
	}
}
